node_modules
dist
.env
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
coverage
*.log
*.tmp
*.bak
*.swp   
.env.local
.env.development.local 
.env.test.local
.env.production.local
*.next
.next/
.next/*

